h2{
    background-color: aquamarine;
    
}
body{
    border-top: 5cm;
    border-left: 12cm;
    border-right: 12cm;
    border-width: 5cm;


    padding-left: 10cm;
    padding-right: 10cm;


    text-align: center;
}

